<!DOCTYPE html>
{% load menu %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%} | Movie Cinema</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/styles.css' %}">
    <style>

img{
    height:300px;
    width:300px;
}

    </style>
</head>

<body>

    <!-- ### HEADER Below ### -->
    <header>
        <nav>
            <div class="left-menu">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">Cinema</a>
            </div>
            <div class="right-menu">
                <a href="/admin" class="login">Admin</a>
                <div class="search">
                    <form action="/search/" method="get">
                        <input type="search" name="query" placeholder="Search">
                        <button>Search</button>
                    </form>
                </div>
                {% menu %}

            </div>
        </nav>
    </header>
    <!-- ### HEADER Above ### -->
    <!-- <div class="background"></div> -->
    {% block content %}
    {% endblock %}
    
</body>
</html>